{
  "extends": "airbnb-base",
  "rules": {
    "prefer-destructuring": "off",
    "max-len": "off",
    "no-underscore-dangle": "off",
    "no-useless-escape": "off",
    "brace-style": "off",
    "operator-linebreak": "off",
    "no-trailing-spaces": "off",
    "arrow-body-style": "off",
    "no-undef": "off",
    "class-methods-use-this": "off",
    "no-shadow": "off",
    "no-unused-expressions": "off",
    "no-plusplus": "off",
    "no-restricted-syntax": "off",
  }
}