.articles__article {
  color:#1A1B22;
  margin:0;
  width:100%;
  height:100%;
  position:relative;
  background-color:white;
}
.articles__img {
  width:100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.articles__img-container {
  margin:0;
  width:100%
}
.articles__img {
  margin:0;
  width:100%;
}
.articles__keyword {
  position: absolute;
  top: 24px;
  left:24px;
  margin:0;
  font-size:14px;
  line-height:24px;
  font-weight: 500;
  background-color: #FFF;
  padding:8px 22px;
  box-shadow: 0px 10px 22px rgba(59, 74, 116, 0.1);
  border-radius: 10px;
}
.articles__hover-text {
  position: absolute;
  top: 4.21%;;
  right:69px;
  margin:0;
  background-color: #FFF;
  padding:11px 19px;
  box-shadow: 0px 10px 22px rgba(59, 74, 116, 0.1);
  border-radius: 10px;
  font-size:12px;
  line-height: 18px;
  font-weight:500;
  color:#000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width:182px;
  box-sizing: border-box;
  visibility: hidden;
}

.articles__hover-text_visible {
  visibility:visible;
}

.articles__trash-btn {
  position: absolute;
  top: 4.21%;
  right: 6%;
  background: url(../../images/trash.svg) no-repeat center center;
  width:40px;
  height:40px;
  padding:0;
  border:none;
  border-radius: 8px;
  margin:0;
  background-color:#FFFFFF
}

.articles__trash-btn:hover {
  background-color:#FFFFFF;
  background: url(../../images/trash-hover.svg) no-repeat center center;
  cursor: pointer;
}

.articles__date {
  color:#B6BCBF;
  font-family: 'Source Sans Pro', sans-serif;
  font-size:18px;
  line-height:24px;
  font-weight:400;
  margin-top:17px;
  margin-left:24px;
}

.articles__content {
  padding:15px 24px;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items:flex-start;
  box-sizing: border-box;
}

.articles__title {
  font-family: 'Roboto Slab', sans-serif;
  font-size:26px;
  line-height:30px;
  font-weight:400;
  margin:0;
}

.articles__text {
  font-family:'Roboto',sans-serif;
  font-size:16px;
  line-height:22px;
  margin:0;
  margin-top: 16px;
  margin-bottom: 18px;
}
.articles__source {
  font-family: 'Roboto Slab', serif;
  font-weight:700;
  color:#B6BCBF;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  text-align: start;
  margin:0;
}
.articles__signin-btn {
  position:absolute;
  top: 4.21%;
  right: 6%;
  border:none;
  border-radius: 8px;
  background:url(../../images/signin.svg)no-repeat center center;
  background-color: #FFFFFF;
  width:40px;
  min-height: 40px;
  padding:11px 13px;
  cursor: pointer;
}

.articles__signin-btn_saved {
  background:url(../../images/signin-bold.svg)no-repeat center center;
}
.articles__signin_img {
  max-width:14px
}

@media screen and (max-width:1000px){
  .articles__content {
    padding: 12px 16px;
  }
  .articles__date {
    margin-top:16px;
  margin-left:15px;
  }

  .articles__signin-btn {
    right:3.57%;
    top:1.305%;
  }
  .articles__trash-btn {
    right:3.57%;
    top:1.305%;
  }
  .articles__hover-text {
    top:1.305%;
    right:58px;
  }

}

@media screen and (max-width:800px){
  .articles__signin-btn {
    /* top:8px;
    right:8px; */
  }
  .articles__hover-text {
    /* top:8px;
    left:8px; */
    /* right:54px; */
  }
}