.app {
  display:flex;
  justify-content:center;
  align-items:center;
  width:100%;
  font-family: 'Roboto', sans-serif;
}
.app__page {
  width:100%;
  color:white;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  position:relative;
  box-sizing:border-box;
  font-family:'inter', Arial, sans-serif;
}
@media screen and (max-width:500px) {
  .page {
    padding-top:28px;
    padding-bottom:36px;
  }
}
